{:paths ["src"]
 :deps
 {cider/cider-nrepl {:mvn/version "0.27.0-SNAPSHOT"}
  refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
  nrepl/nrepl {:mvn/version "0.8.3"}
  clj-commons/pomegranate {:mvn/version "1.2.0"} ;; enable hot reload of dependencies
  }

 :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]

 :aliases
 {:uberjar
  {:extra-deps {seancorfield/depstar {:mvn/version "2.0.216"}}
   :ns-default hf.depstar
   :exec-fn uberjar
   :exec-args {:main-class dev-nrepl.core
               :aot true
               :jar "dev-nrepl.jar"}}}}
